<div class="row align-items-center justify-content-center g-0 min-vh-100">
  <div class="col-lg-5 col-md-8 py-8 py-xl-0">
    <!-- Card -->
    <div class="card shadow">
      <!-- Card body -->
      <div class="card-body p-6">
        <div class="mb-4">
          <h1 class="mb-1 fw-bold">Reported Content</h1>
        </div>
        {{#each reports}}
          {{#if hasErrors}}
            <div
              class="alert alert-danger m-2"
              role="alert"
              id="reportLinkError"
            >
              {{error}}
            </div>
          {{/if}}
          <h5 class="card-title">{{type}}</h5>
          <p class="card-text">Reported Reason : {{reportReasons}}</p>
          <p class="card-text">Reported Text : {{reportFor}}</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group" id="reportLinks">
              <a
                href="/reports/keep/{{_id}}"
                class="btn btn-sm btn-outline-primary"
              >Keep</a>
              <a
                href="/reports/delete/{{_id}}"
                class="btn btn-sm btn-outline-primary"
              >Delete</a>
            </div>
          </div>
          <hr />
        {{/each}}
        {{#if error}}
          <div class="alert alert-danger m-2" role="alert" id="reportPageError">
            {{error}}
          </div>
        {{/if}}
      </div>
    </div>
  </div>
</div>