{{#each reports}}
  <div class="col">
    <div class="card shadow-sm">

      <div class="card-body">
        <h5 class="card-title">{{type}}</h5>
        <p class="card-text">Reported Reason : {{reportReasons}}</p>
        <p class="card-text">Reported Text : {{reportFor}}</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <a
              href="/reports/keep/{{_id}}"
              class="btn btn-sm btn-outline-primary"
            >Keep</a>
            <a
              href="/reports/delete/{{_id}}"
              class="btn btn-sm btn-outline-primary"
            >Delete</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{{/each}}