<div class="container">
  <div class="row">
    {{#each sneakers}}
      <div class="col-sm-4 border">
        <form>
          <h1>{{modelName}}</h1>
          <p> {{brandName}} </p>
           <img class="d-block w-100" src={{images}} />
        
              
          <h4>Price : {{price}}$</h4>

          <input
            type="submit"
            value="UPDATE"
            formaction="/sneakers/listedByUpdate/{{_id}}"
          />
          {{! http://localhost:3000/sneakers/61a04f4e878558d0e73856ba? }}
        </form>

      </div>
    {{/each}}
  </div>
</div>