{{#if error}}
  <div class="alert alert-primary" role="alert">
    {{error}}
  </div>
{{/if}}

<div class="container">
  <div class="row">
    {{#each sneakers}}
      <div class="col-sm-4">
        <div class="card">
          <img
            class="card-img-top"
            src="../../public/images/LP1.jpeg"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">{{modelName}}</h5>
            <p class="card-text">{{brandName}}</p>
            <p>Price : {{price}}$</p>
            <form action="/sneakers/sneaker/{{_id}}" method="get">
              <input type="submit" value="BUY" />

            </form>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>