c<h1 class="visually-hidden">Purchase History</h1>
<h2 class="visually-hidden">Purchase History</h2>
<h3 class="visually-hidden">Purchase History</h3>
<h4 class="visually-hidden">Purchase History</h4>

<div class="album py-5">
    <div class="container">
        <div class="col-4"></div>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {{#each sneaker}}
                <div class="col">
                    <div class="card shadow-sm">
                        <img
                                src="{{images}}"
                                alt="shoe"
                                width="200"
                                class="card-img-top sneakerListImg"
                        />

                        <div class="card-body">
                            <h5 class="card-title">{{modelName}}</h5>
                            <p class="card-text">{{brandName}}</p>
                            <p class="card-text">${{price}}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a
                                            href="/sneakers/sneaker/{{_id}}"
                                            class="btn btn-sm btn-outline-primary"
                                    >View</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</div>
