<h1>Sneakers Bought</h1>
<div class="container">
  <div class="row">
    {{#each sneaker}}
      <div class="col-sm-4 border">
        <h1>{{modelName}}</h1>
        <p> {{brandName}} </p>
        <img alt="sneaker" class="d-block w-100" src={{images}} />
        <h4>Price : {{price}}$</h4>
        <h5>Size : {{boughtSize}}</h5>
      </div>
    {{/each}}
  </div>
</div>