<div class="container">
  <div class="row">
    {{#each sneakers}}
      <div class="col-sm-4 border m-2 mt-4 mb-4">
        <form>
          <h1>{{modelName}}</h1>
          <p> {{brandName}} </p>
           <img alt="sneaker" class="d-block w-100" src={{images}} />
        
              
          <h4>Price : {{price}}$</h4>

          <button
            type="submit"
            class="btn btn-primary mb-2"
            formaction="/sneakers/listedByUpdate/{{_id}}">Update</button>
        </form>

      </div>
    {{/each}}
  </div>
</div>
