{{#if error}}
  <div class="alert alert-primary" role="alert">
    {{error}}
  </div>
{{/if}}

<div class="album py-5">
  <div class="container">
    <div class="col-4"></div>
    <form action="/sneakers/filter" method="post" id="filter-form">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <label for="brandName" class="form-label">Brand Name</label>
          <select name="brandName" id="brandName" class="form-select">
            <option value=""></option>
            {{#each brands}}
              <option value={{this}}>{{this}}</option>
            {{/each}}
          </select>
        </div>
        <div class="col">
          <label for="size" class="form-label">Size</label>
          <select name="size" id="size" class="form-select">
            <option value="0"></option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
          </select>
        </div>
        <div class="col">
          <label for="price" class="form-label">Price</label>
          <select name="price" id="price" class="form-select">
            <option value="0"></option>
            <option value="100"><100</option>
            <option value="200"><200</option>
            <option value="300"><300</option>
            <option value="400"><400</option>
            <option value="500"><500</option>
            <option value="600"><600</option>
            <option value="700"><700</option>
            <option value="800"><800</option>
            <option value="900"><900</option>
            <option value="1000"><1000</option>
          </select>
        </div>
        <button
          type="submit"
          class="btn btn-primary m-2"
          style="width: 98.6%"
        >Filter</button>
      </div>
    </form>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      {{#each sneakers}}
        <div class="col">
          <div class="card shadow-sm">
            <img
              src="{{images}}"
              alt="shoe"
              width="200"
              class="card-img-top sneakerListImg"
            />

            <div class="card-body">
              <h5 class="card-title">{{modelName}}</h5>
              <p class="card-text">{{brandName}}</p>
              <p class="card-text">${{price}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a
                    href="/sneakers/sneaker/{{_id}}"
                    class="btn btn-sm btn-outline-primary"
                  >View</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>
