<h1 class="visually-hidden">Listed Sneakers</h1>
<h2 class="visually-hidden">Listed Sneakers</h2>
<h3 class="visually-hidden">Listed Sneakers</h3>
<h4 class="visually-hidden">Listed Sneakers</h4>

{{#if hasErrors}}
    <div class="alert alert-danger" role="alert">
        {{error}}
    </div>
{{/if}}

<div class="album py-5">
    <div class="container">
        <div class="col-4"></div>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {{#each sneakers}}
                <div class="col">
                    <div class="card shadow-sm">
                        <img
                                src="{{images}}"
                                alt="shoe"
                                width="200"
                                height="200"
                                class="card-img-top sneakerListImg"
                        />

                        <div class="card-body">
                            <h5 class="card-title">{{modelName}}</h5>
                            <p class="card-text">{{brandName}}</p>
                            <p class="card-text">${{price}}</p>
                            <form>
                                <div class="d-flex justify-content-between align-items-center">
                                    <button
                                            type="submit"
                                            class="btn btn-sm btn-outline-primary"
                                            formaction="/sneakers/listedByUpdate/{{_id}}">Update</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</div>
