

      {{#each sneakers}}
<form > 
     <h1> {{brandName}}</h1> 
       <p> {{modelName}}</p>
       {{#sizesAvailable}}
            <div>{{size}} : {{available}}</div>
       {{/sizesAvailable}}

       <p>{{price}}</p>
    <p>{{listedBy}}</p>

<input type="submit" value="DELETE" formaction="/sneakers/delete/{{_id}}">
    <input type="submit" value="UPDATE" formaction="/sneakers/{{_id}}" >
    
    
    </form>

       {{/each}}
 